/* body {
  margin: 0;
  overflow: hidden;
  background-color: rgb(206, 45, 34);
  color: blue;
}

.leftsection {
  width: 30%;
  float: left;
  padding: 15px;
}

.midsection {
  width: 75%;
  float: left;
  padding: 20px;
} */
